@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background: url('../imagens/back-tablet.jpg') center center no-repeat;
        background-size: cover;
    }

    main {
        width: 800px;
    }

    #phone {
        display: none;
    }

    #tablet {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    body {
        background: url('../imagens/back-pc.jpg') center center no-repeat;
        background-size: cover;
    }

    main {
        width: 1200px;
    }

    #tablet {
        display: none;
    }

    #pc {
        display: block;
    }
}


@media screen and (min-width: 1200px) {
    body {
        background: url('../imagens/back-tv.jpg') center center no-repeat;
        background-size: cover;
    }

    main {
        width: 1700px;
    }

    #pc {
        display: none;
    }

    #tv {
        display: block;
    }
}

