@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:root {
    --cor1: #2D298F;
    --cor2: #4E2C99;
    --cor3: #5F2D83;
    --cor4: #892C99;
    --cor5: #8F2977;
    --cor6: rgb(240, 246, 252);
    --cor7: #1C0F1F;
    --cor8: #9e8fa1;
}

* {
    font-family: arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,
html {
    position: relative;
    height: 100vh;
    background-color: rgb(252, 240, 255);
    overflow: hidden;
}

div#bola1 {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 20%;
    top: 50%;
    background: linear-gradient(129.3deg, var(--cor3) -15.22%, var(--cor5) 88.61%);
    width: 300px;
    height: 300px;
    border-radius: 66% 34% 62% 38% / 42% 52% 48% 58%;
    animation-duration: 25s;
    animation-name: bola1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-filter: blur (60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
}

@keyframes bola1 {
    from {
        left: 30%;
        top: -10%;

    }

    to {
        left: -25%;
        top: 50%;
        transform: rotate(750deg);
    }
}

div#bola2 {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 20%;
    top: 50%;
    background: linear-gradient(129.3deg, var(--cor3) -15.22%, var(--cor5) 88.61%);
    width: 300px;
    height: 300px;
    border-radius: 66% 34% 62% 38% / 42% 52% 48% 58%;
    animation-duration: 25s;
    animation-name: bola2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-filter: blur (60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
}

@keyframes bola2 {
    from {
        left: 0%;
        top: 95%;

    }

    to {
        left: 150%;
        top: 0%;
        transform: rotate(700deg);
    }
}

div#bola3 {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 20%;
    top: 50%;
    background: linear-gradient(129.3deg, var(--cor3) -15.22%, var(--cor5) 88.61%);
    width: 300px;
    height: 300px;
    border-radius: 66% 34% 62% 38% / 42% 52% 48% 58%;
    animation-duration: 25s;
    animation-name: bola3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-filter: blur (60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
}

@keyframes bola3 {
    from {
        left: 110%;
        top: 40%;

    }

    to {
        left: -10%;
        top: -10%;
        transform: rotate(720deg);
    }
}

section {
    margin: auto;
    position: relative;
    height: 1000px;
}

article {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--cor6);
    width: 300px;
    height: 460px;
    border-radius: 24px;
    box-shadow: 2px 2px 50px #892c9980;
}

form > div > p {
    font-size: 0.8em;
}

div#head {
    background: linear-gradient(129.3deg, var(--cor1) -15.22%, var(--cor5) 88.61%);
    background-size: cover;
    height: 230px;
    width: 300px;
    border-radius: 24px 24px 0px 0px;
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(-50%, -50%);
}

img {
    padding: 0px;
    margin: 0px;
}

#top {
    position: absolute;
    left: 50%;
    top: 31%;
    transform: translate(-50%, -50%);
}

#middle {
    position: absolute;
    left: 50.16%;
    top: 42%;
    transform: translate(-50%, -50%);
}

#bottom {
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 24px 24px 16px 24px;
    text-align: left;
    color: var(--cor7);
}

p#text {
    margin: 16px 24px 32px 24px;
    padding: 0px;
    color: var(--cor8);
    text-align: left;
}

p {
    color: var(--cor7);
    text-align: justify;
    padding: 0px 10px;
}

div.campo {
    position: relative;
    background-color: var(--cor4);
    border: 2px solid var(--cor4);
    display: block;
    margin: 16px 24px;
    border-radius: 8px;
    height: 38px;
    text-align: right;
}

p.aux {
    color:var(--cor8);
    font-size: 0.8em;
    padding: 0px;
    margin: 16px 24px 16px 0px;
}

p > a {
    color: #892C99;
}

a {
    text-decoration: none;
}

input {
    background-color: var(--cor6);
    height: 79%;
    width: calc(100% - 61px);
    border: 0px;
    padding: 4px 0px 4px 16px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

input:hover {
    background-color: rgb(226, 233, 240);
}

#i {
    position: absolute;
    left: 0%;
    top: 50.5%;
    transform: translate(0%, -50%);
    padding: 12px;
    border-radius: 10px;
    color: var(--cor7);
}

div#validacao > p {
    text-align: center;
}

.val {
    box-sizing: border-box;
    color: aliceblue;
    width: calc(100% - 48px);
    height: 38px;
    background: linear-gradient(129.3deg, var(--cor1) -15.22%, var(--cor5) 88.61%);
    margin: 56px 24px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}



.val:hover {
    font-size: 10.5pt;
    margin: 54px 0px 0px 0px;
    width: calc(100% - 44px);
    height: 40px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

#npc {
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 376px;
    transform: translatex(-50%);
    width: 100%;
}